<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
	<preference for="Petsdelight\Longproducts\Api\GetbrandInterface" type="Petsdelight\Longproducts\Model\GetBrandActionManagement"/>
	<preference for="Petsdelight\Longproducts\Api\PostproductInterface" type="Petsdelight\Longproducts\Model\PostActionManagement"/>
</config>